<IfModule mod_rewrite.c>
    RewriteEngine On

    # Arahkan domain utama & subdomain ke folder Laravel
    RewriteCond %{HTTP_HOST} ^(www\.)?thedarkandbright\.com$ [NC] [OR]
    RewriteCond %{HTTP_HOST} ^agency\.thedarkandbright\.com$ [NC] [OR]
    RewriteCond %{HTTP_HOST} ^admin\.thedarkandbright\.com$ [NC] [OR]
    RewriteCond %{HTTP_HOST} ^gro\.thedarkandbright\.com$ [NC]
    RewriteCond %{REQUEST_URI} !^/laravel_app/public/
    RewriteRule ^(.*)$ laravel_app/public/$1 [L]
</IfModule>
