html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
}